@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

#reserve {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/bg-form.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}